doctype html
html(lang="en")
	head
		meta(charset="UTF-8")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		title MemoApp Landing Page
		script(src="ts/index.ts" type="module") 
	body 
		div hello i am stuff

		div 
			div login here
			form.loginForm
				input(type="text" placeholder="email").email
				input(type="password" placeholder="password").password
				button(type="submit").submit Login