doctype html
html(lang="en")
	head
		meta(charset="UTF-8")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		title MemoApp User Area
		script(src="ts/MemoApp.tsx" type="module") 
	body 
		div hello world
		div#memoApp